h1{
	line-height: 110%;
}

h3{
	color: var(--red-color);
}

strong{
	color: var(--red-color);
}
text{
	fill: var(--red-color);
}

.nav > span{
	background-color: var(--white-color);
	color: var(--red-color);
	border-color: var(--red-color);
}

.mobile_animation > span{
	color: var(--red-color);
}

blockquote{
	background-color: var(--red-color);
}
blockquote li{
	color: var(--black-color);
}
blockquote em{
	color: var(--white-color);
}

.circular-text-1, .circular-text-2{
	display: none;
}

.highlight h2{
	color: var(--red-color);
}


@media (min-width: 744px) {

	.heading > h3{
		color: var(--red-color);
	}	

	h1{
		max-width: 70%;
	}

	strong{
		color: var(--black-color);
	}

	footer{
		margin-top: calc(var(--spacing-9)*1.4);
	}

	a:hover{
		color: var(--red-color);
		transition: ease-in-out 0.3s;
	}

	.right{
		margin-bottom: 0px;
	}

	.mobile_animation{
		display: none;
	}

	.nav a:nth-of-type(1) span:hover {
		color: var(--grey-color);
		border-color: var(--grey-color);
		transition: ease-in-out 0.3s;
	}
	
	.nav a:nth-of-type(2) span:hover {
		color: var(--green-color);
		border-color: var(--green-color);
		transition: ease-in-out 0.3s;
	}
	
	.nav a:nth-of-type(3) span:hover {
		color: var(--orange-color);
		border-color: var(--orange-color);
		transition: ease-in-out 0.3s;
	}

	.highlight{
		padding-left: 0px;
	}

	.highlight h2{
		text-align: left;
	}
	
	
	/* .card1{
		transform: translateX(25vw) translateY(-5vw);
	}
	.card2{
		transform: translateX(50vw) translateY(-5vw);
	} */

	.card_container .card{
		margin-bottom: var(--spacing-2);
		padding: 0px;
	}
	
	.card_container{
		transform: translateX(2vw) ;
		/* display: flex;
		align-items: self-start;
		gap: var(--spacing-3); */
	}

	.align_right p{
		margin-bottom: var(--spacing-7);
	}

	.arrow h1{
		color: var(--red-color);
	}

	.arrow a{
		text-decoration: none;
	}

	.circular-text-1{
		display: block;
		position: absolute;
		width: 900px;
		height: 900px;
		z-index: -1;
		transform: translateX(1000px) translateY(150px);
		overflow: hidden ;
	}
	
	.circular-text-2{
		display: block;
		position: absolute;
		width: 900px;
		height: 600px; 
		z-index: -1;
		transform: translateX(900px) translateY(-400px) scale(1.4);
		overflow: hidden ;
		clip-path: inset(0 0 200px 0);
	}
}