h3{
	color: var(--red-color);
}

strong{
	color: var(--red-color);
}

.nav > span{
	background-color: var(--white-color);
	color: var(--red-color);
	border-color: var(--red-color);
}

.circle_animation > span{
	color: var(--red-color);
}

blockquote{
	background-color: var(--red-color);
}
blockquote li{
	color: var(--black-color);
}
blockquote em{
	color: var(--white-color);
}

.card{
	display: flex;
	flex-direction: column;
	margin: var(--spacing-1) 0px;
	justify-content: center;
}

.card blockquote{
	margin-left: var(--spacing-1);
	margin-right: var(--spacing-1);
	border-radius: 100px;
	padding:var(--spacing-1);
}

.card blockquote h2{
	font-size: var(--medium-size);
	align-items: center;
	padding: 0px;
	margin: 0px;
}

.card p{
	margin-top: 0px;
}

@media (min-width: 744px) {

	strong{
		color: var(--black-color);
	}

	a:hover{
		color: var(--red-color);
	}

	.circle_animation{
		display: none;
	}

	.nav a:nth-of-type(1) span:hover {
		color: var(--grey-color);
		border-color: var(--grey-color);
	}
	
	.nav a:nth-of-type(2) span:hover {
		color: var(--green-color);
		border-color: var(--green-color);
	}
	
	.nav a:nth-of-type(3) span:hover {
		color: var(--orange-color);
		border-color: var(--orange-color);
	}
	
	.card{
		width: 25vw;
		justify-content: center;
	}
	.card blockquote{
		margin-bottom: var(--spacing-1);
		margin-left: 0px;
		margin-right: 0px;
	}
	.card p{
		margin-bottom:0px;
		width: 26vw;
	}
	.card1{
		transform: translateX(25vw) translateY(-5vw);
	}
	.card2{
		transform: translateX(50vw) translateY(-5vw);
	}

	.align_right p{
		margin-bottom: var(--spacing-7);
	}
	.align_right blockquote h2{
		font-size: var(--superbig-size);
	}
}