h3{
	color: var(--red-color);
}

a:hover{
	color: var(--red-color);
}

.nav > span{
	background-color: var(--white-color);
	color: var(--red-color);
	border-color: var(--red-color);
}

.circle_animation > span{
	color: var(--red-color);
}

/* strong{
	color: var(--red-color);
} */

blockquote{
	background-color: var(--red-color);
}
blockquote li{
	color: var(--black-color);
}
blockquote em{
	color: var(--white-color);
}

@media (min-width: 744px) {

	.circle_animation{
		display: none;
	}

	.nav a:nth-of-type(1) span:hover {
		color: var(--grey-color);
		border-color: var(--grey-color);
	}
	
	.nav a:nth-of-type(2) span:hover {
		color: var(--green-color);
		border-color: var(--green-color);
	}
	
	.nav a:nth-of-type(3) span:hover {
		color: var(--orange-color);
		border-color: var(--orange-color);
	}
	

/* 
.circle_animation {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
} */

/* .circle_animation > span{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 200px;
	text-align: center;
	transform: rotate(90deg);
	transform-origin: center;
	white-space: nowrap;
	font-size: 20px;
} */
}