@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');


h1{
	margin-top: var(--spacing-2);
	padding-bottom: 0px;
	font-size: var(--semi-large-size);
}

h3{
	font-size: var(--semi-medium);
}

h2{
	font-family: var(--heading-font);
	border: 1px solid var(--black-color);
	border-radius: 40px;
	display: inline-block;
	background-color: var(--black-color);
	color: var(--white-color);
	display: flex;
	justify-content: center;
	margin-left: var(--spacing-1);
	margin-right: var(--spacing-1);
}

header{
	display: flex;
	flex-direction: column;
}

aside{
	font-family: var(--context-font);
	font-weight: 300;
	display: flex;
	flex-direction: column;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

section:nth-of-type(1) h3{
	color: var(--red-color);
}

section:nth-of-type(2) h3{
	color: var(--green-color);
}

section:nth-of-type(3) h3{
	color: var(--orange-color);
}

section p{
	margin-top: var(--spacing-1);
}


.grid{
	display: block;
	margin-top: 350px;
}

.nav{
	display: flex;
	padding: var(--spacing-1);
	justify-content: center;
	align-items: center;
	position: fixed;
  	bottom: 0;
 	width: 100%;
	background-color: var(--background-color);
	z-index: 10;
}

.nav span{
	font-size: var(--small-size);
	border: 1px solid var(--black-color);
	border-radius: 40px;
	padding: var(--spacing-0) var(--spacing-1);
	margin-left: var(--spacing-0);
	background-color: var(--white-color);
}

.nav a{
	text-decoration: none;
}

.nav > span{
	background-color:var(--black-color);
	margin-left: 0px;
	color:var(--white-color)
}


.topic h1{
	font-family: var(--heading-font);
	font-size: var(--superbig-size);
	font-weight: 800;
	margin: 0px;
	padding-top: var(--spacing-2);
}

.button {
	display: flex;
	padding: var(--spacing-1);
	align-items: left;
}

.button span{
	font-size: var(--small-size);
	border: 1px solid var(--black-color);
	border-radius: 40px;
	padding: var(--spacing-0) var(--spacing-1);
	margin-left: var(--spacing-0);
	background-color: var(--white-color);
}

.button span:nth-child(1):hover{
	color: var(--red-color);
	border-color: var(--red-color);
}


.button span:nth-child(2):hover{
	color: var(--green-color);
	border-color: var(--green-color);
}

.button span:nth-child(3):hover{
	color: var(--orange-color);
	border-color: var(--orange-color);
}

.topic-original{
	display: block;
}

.topic-color{
	display: none;
}

.topic-style{
	display: none;
}

.circular-text-red{
	display: none;
	transform: translateX(-100px) translateY(50px) scale(1.2);
}

/* ?????? *//* ?????? *//* ?????? *//* ?????? *//* ?????? *//* ?????? */

.button span:nth-child(1):hover + .topic-original{
	display: none;
}
/* ?????? *//* ?????? *//* ?????? *//* ?????? *//* ?????? *//* ?????? */


.arrow-and-me{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: var(--spacing-2);
	left:  var(--spacing-2);
	width: 80%;
	gap: var(--spacing-1);
}

.from-to-1{
	color: var(--red-color);
}

.from-to-2{
	color: var(--green-color);
}

.article1-name{
	color: var(--red-color);
	background-color: transparent;
}

.article2-name{
	color: var(--green-color);
	background-color: transparent;
}

.article3-name{
	color: var(--orange-color);
	background-color: transparent;
}

.article1, .article2, .article3{
	margin: var(--spacing-1) var(--spacing-1) var(--spacing-1) var(--spacing-1);
	padding: var(--spacing-2);
	border: 1px solid var(--black-color);
}

.article1{
	margin-top: var(--spacing-6);
}

.article1:hover, .article2:hover, .article3:hover{
	background-color: var(--white-color);
} 

.grid_right h3{
	font-size: var(--medium-size);
	font-weight: 400;
	display: flex;
	justify-content: center;
}

.circular-text{
display: none;}

/* desktop */
/* desktop */
/* desktop */

@media (min-width: 744px) {

h1{
	font-size: var(--superbig-size);
	font-weight: 500;
	margin: var(--spacing-4);
	margin-bottom: var(--spacing-1);
}

h2{
	margin-left: var(--spacing-5);
	width: 350px;
}

h3{
	font-size: var(--medium-size);
	padding-left: 0px;
}


nav a:hover{
	 background-color: var(--white-color);
}

.topic{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: var(--spacing-5);
	right:  var(--spacing-9);
	width: 34vw;
}

.topic h1{
	font-size: calc(var(--superbig-size)*1.8) ;
	font-weight: 800;
	margin: 0px;
	
}

.nav{
	display: flex;
	position: relative;
	padding: var(--spacing-1) var(--spacing-5);
	justify-content: left;
	align-items: center;
}

.nav a:nth-of-type(1) span:hover {
	color: var(--red-color);
	border-color: var(--red-color);
}

.nav a:nth-of-type(2) span:hover {
	color: var(--green-color);
	border-color: var(--green-color);
}

.nav a:nth-of-type(3) span:hover {
	color: var(--orange-color);
	border-color: var(--orange-color);
}

/* ?????????? *//* ?????????? *//* ?????????? *//* ?????????? *//* ?????????? */


.nav a:nth-of-type(1) span:hover + .topic .topic-original{
	display: none;
}

.nav a:nth-of-type(1) span:hover ~ .topic .topic-color{
	display: block;
}
/* ?????????? *//* ?????????? *//* ?????????? *//* ?????????? *//* ?????????? */


.button{
	display: none;
}

.arrow-and-me{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: var(--spacing-5);
	left:  var(--spacing-6);
	gap: var(--spacing-1);
}

.grid{
	margin-top: 35vw;;
	margin-right: var(--spacing-5);
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--spacing-8);
	align-items: start;
}

.grid_left{
	grid-column: 1;
}
.grid_right{
	grid-column: 2;
}

.grid_right>p{
	margin-top: 0px;
}

/* .article1, .article2, .article3{
	margin: var(--spacing-1) var(--spacing-5) var(--spacing-1) var(--spacing-1);
	padding: var(--spacing-3);
	border: 1px solid var(--black-color);
}

.article1{
	margin-top: var(--spacing-6);} */

.grid_right h3{
	display: flex;
	justify-content: left;
	padding: 0px;
	margin-bottom: 0px;
}

}