@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');


h1{
	margin-top: var(--spacing-2);
	padding-bottom: 0px;
	font-size: var(--semi-large-size);
}

h3{
	font-size: var(--semi-medium);
}

h2{
	font-family: var(--heading-font);
	border: 1px solid var(--black-color);
	border-radius: 40px;
	display: inline-block;
	background-color: var(--black-color);
	color: var(--white-color);
	display: flex;
	justify-content: center;
	margin-left: var(--spacing-1);
	margin-right: var(--spacing-1);
}

header{
	display: flex;
	flex-direction: column;
}

aside{
	font-family: var(--context-font);
	font-weight: 300;
	display: flex;
	flex-direction: column;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

em{
	padding-left: 10px;
}

section:nth-of-type(1) h3{
	color: var(--red-color);
}

section:nth-of-type(2) h3{
	color: var(--green-color);
}

section:nth-of-type(3) h3{
	color: var(--orange-color);
}

section p{
	margin-top: var(--spacing-1);
}

.grid{
	display: block;
	margin-top: 350px;
}

.nav{
	display: flex;
	padding: var(--spacing-1);
	justify-content: center;
	align-items: center;
	position: fixed;
  	bottom: 0;
 	width: 100%;
	background-color: var(--background-color);
	z-index: 10;
}

.nav > span{
	background-color:var(--black-color);
	margin-left: 0px;
	color:var(--white-color)
}

.topic h1{
	font-family: var(--heading-font);
	font-size: var(--superbig-size);
	font-weight: 800;
	margin: 0px;
	padding-top: var(--spacing-2);
}

.button {
	display: flex;
	padding: var(--spacing-1);
	align-items: left;
}

.button span{
	font-size: var(--small-size);
	border: 1px solid var(--black-color);
	border-radius: 40px;
	padding: var(--spacing-0) var(--spacing-1);
	margin-left: var(--spacing-0);
	background-color: var(--white-color);
}

.button span:nth-child(1):hover{
	color: var(--red-color);
	border-color: var(--red-color);
}

.button span:nth-child(2):hover{
	color: var(--green-color);
	border-color: var(--green-color);
}

.button span:nth-child(3):hover{
	color: var(--orange-color);
	border-color: var(--orange-color);
}

.circular-text-red{
	display: none;
	transform: translateX(120px) translateY(45px) scale(1.4);
	
}

.circular-text-red text{
	fill: var(--red-color);
} 

.circular-text-green {
	display: none;
	transform: translateX(100px) translateY(50px) scale(1.4);
}

.circular-text-green text{
	fill: var(--green-color);
} 

.circular-text-orange {
	display: none;
	transform: translateX(100px) translateY(50px) scale(1.4);
	z-index: -10;
}

.circular-text-orange text{
	fill: var(--orange-color);
} 

.arrow-and-me{
	padding: var(--spacing-2);
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0px;
	overflow-x: hidden;
	gap: var(--spacing-1);
	z-index: 10;
	left: 0px;
	width: 100%;
}

.from-to-1{
	color: var(--red-color);
}

.from-to-2{
	color: var(--green-color);
}

.from-to-3{
	color: var(--orange-color);
}

.grid_right h3{
	font-size: var(--semi-medium);
	font-weight: 600;
	font-style: italic;
	display: flex;
	justify-content: center;
	padding-bottom: 0px;
}

.topic-original{
	display: block;
}

.topic-color, .topic-style, .topic-press{
	display:none
}

/* hover one button and the topic & circular show */

body:has(.button span:nth-child(1):hover) .topic-original {
	display: none;
}
body:has(.button span:nth-child(1):hover) .topic-color {
	display: block;
}
body:has(.button span:nth-child(1):hover) .circular-text-red {
	display: block;
}

body:has(.button span:nth-child(2):hover) .topic-original {
	display: none;
}
body:has(.button span:nth-child(2):hover) .topic-style {
	display: block;
	transition: ease-out 0.3s;
}
body:has(.button span:nth-child(2):hover) .circular-text-green {
	display: block;
	transition: ease-out 0.3s;
}

body:has(.button span:nth-child(3):hover) .topic-original {
	display: none;
}
body:has(.button span:nth-child(3):hover) .topic-press {
	display: block;
	transition: ease-out 0.3s;
}
body:has(.button span:nth-child(3):hover) .circular-text-orange {
	display: block;
	transition: ease-out 0.3s;
}

/* when button hover, .arrow-and-me background:transparent */

body:has(.button span:nth-child(1):hover) .arrow-and-me{
	background-color: transparent;
}
body:has(.button span:nth-child(2):hover) .arrow-and-me{
	background-color: transparent;
}
body:has(.button span:nth-child(3):hover) .arrow-and-me{
	background-color: transparent;
}

.colophon{
	background-color: var(--black-color);
	color: var(--white-color);
	margin: 0px var(--spacing-1);
	padding: var(--spacing-2)  var(--spacing-1) ;
}
.colophon > h3{
	font-size: var(--small-size);
	background-color: transparent;
	color:var(--white-color);
	padding-left:var(--spacing-1)
}

.colophon p{
	font-size: var(--mini-size);
	margin-top: var(--spacing-0);
}

/* desktop */
/* desktop */
/* desktop */

@media (min-width: 744px) {

h1{
	font-size: var(--superbig-size);
	font-weight: 500;
	margin: var(--spacing-4);
	margin-bottom: var(--spacing-1);
}

h2{
	margin-left: var(--spacing-5);
	width: 350px;
}

h3{
	font-size: var(--medium-size);
	padding-left: 0px;
}

section:nth-of-type(1), section:nth-of-type(2) {
	margin-bottom: var(--spacing-0);
}

.topic{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: var(--spacing-5);
	right:  var(--spacing-9);
	width: 34vw;
}

.topic h1{
	font-size: calc(var(--superbig-size)*1.8) ;
	font-weight: 800;
	margin: 0px;
	
}

.nav{
	display: flex;
	position: relative;
	padding: var(--spacing-1) var(--spacing-5);
	justify-content: left;
	align-items: center;
	background-color: transparent;
}

.nav a:nth-of-type(1) span:hover {
	color: var(--red-color);
	border-color: var(--red-color);
}

.nav a:nth-of-type(2) span:hover {
	color: var(--green-color);
	border-color: var(--green-color);
}

.nav a:nth-of-type(3) span:hover {
	color: var(--orange-color);
	border-color: var(--orange-color);
}

.button{
	display: none;
}

.arrow-and-me{
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: var(--spacing-5);
	left:  var(--spacing-6);
	gap: var(--spacing-1);
	z-index: 0;
	width: 80%;
	background-color: transparent;
}

.grid{
	margin-top: 35vw;;
	margin-right: var(--spacing-5);
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--spacing-8);
	align-items: start;
}

.grid_left{
	grid-column: 1;
}
.grid_right{
	grid-column: 2;
	width: 90%;
}

.grid_right>p{
	margin-top: 0px;
}

.grid_right h3{
	display: flex;
	justify-content: left;
	padding: 0px;
	margin-bottom: 0px;
}

.circular-text-red{
	transform: translateX(-200px) translateY(50px) scale(1.2);
	position: absolute;
	z-index: 0;
}
.circular-text-green {
	transform: translateX(1000px) translateY(-700px) scale(1.2);
	position: absolute;
	z-index: -1;
}
.circular-text-orange {
	transform: translateX(300px) translateY(-350px) scale(0.8);
	position: absolute;
	z-index: -1;
}


body:has(.color-button:hover) .topic-original {
	display: none;
}

body:has(.color-button:hover) .topic-color {
	display: block;
}

body:has(.color-button:hover) .circular-text-red {
	display: block;
}

body:has(.style-button:hover) .topic-original {
	display: none;
}
body:has(.style-button:hover) .topic-style {
	display: block;
}
body:has(.style-button:hover) .circular-text-green {
	display: block;
}

body:has(.press-button:hover) .topic-original {
	display: none;
}
body:has(.press-button:hover) .topic-press {
	display: block;
}
body:has(.press-button:hover) .circular-text-orange {
	display: block;
}

.colophon{
	display: flex;
	justify-content: space-between;
	margin: var(--spacing-3) var(--spacing-5);
	padding-left: var(--spacing-5);
	padding-right: var(--spacing-5);
}

.colophon p{
	margin-bottom: 0px;
}

}