@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

/* mobile media query */
/* mobile media query */
/* mobile media query */
/* mobile media query */
/* mobile media query */

/* variables */
:root{

	--heading-font: "Merriweather", serif;
	--context-font: "Merriweather Sans", sans-serif;

	/* font size */
	--mini-size:16px;
	--small-size:18px;
	--semi-medium:20px;
	--medium-size:28px;
	--semi-large-size:32px;
	--large-size:48px;
	--big-size:60px;
	--superbig-size:80px;

	/* spacing */
	--spacing-0: 8px;
	--spacing-1: 16px;
	--spacing-2: 32px; 
	--spacing-3: 48px;
	--spacing-4: 64px;
	--spacing-5: 80px;
	--spacing-6: 96px;
	--spacing-7: 112px;
	--spacing-8: 128px;
	--spacing-9: 144px;

	/* color */
	--background-color: #FDF7F2;
	--black-color: #1D1D1D;
	--white-color: #FFFFFF;
	--grey-color: #D9D9D9;
	--red-color: #F65139;
	--green-color: #067F34;
	--blue-color: #306DEA;
	--orange-color: #F38C48;
}

h1{
	font-family: var(--heading-font);
	font-size: var(--large-size);
	font-weight: 500;
	font-style: italic;
	line-height: 110%;
	padding:  var(--spacing-3) var(--spacing-2) var(--spacing-2) var(--spacing-2) ;
	color: var(--black-color);
}

h2{
	font-family: var(--context-font);
	font-size: var(--small-size);
	font-weight: 300;
	line-height: 120%;
	padding: var(--spacing-1) var(--spacing-2);
}

h3{
	font-family: var(--heading-font);
	font-size: var(--big-size);
	line-height: 120%;
	margin: 0px;
	padding: var(--spacing-1) var(--spacing-2);
	background-color: var(--background-color);
}

h4{
	display: none;
}

li{
	padding: var(--spacing-1);
}

header{
	padding-bottom: var(--spacing-2);
	width: 100%;
}

body{
	background-color: var(--background-color);
	overflow-x: hidden;
}

p{
	font-family: var(--context-font);
	font-size: var(--small-size);
	font-weight: 200;
	line-height: 150%;
	margin: var(--spacing-2) var(--spacing-1);
}

aside {
	border: 1px solid var(--black-color);
	border-radius: 100px;
	background-color: transparent;
	margin: var(--spacing-1) var(--spacing-2);
	padding: var(--spacing-0);
	max-width: 70%;
}

aside p{
	font-size: var(--mini-size);
	margin: var(--spacing-1);
	line-height: 50%;
}

blockquote{
	font-family: var(--context-font);
	font-size: var(--small-size);
	font-weight: 300;
	line-height: 150%;
	padding: var(--spacing-1) var(--spacing-1);
	margin-bottom: var(--spacing-2);
}

blockquote em{
	font-size: var(--semi-medium);
	font-weight: 500;
}

blockquote p{
	text-align: right;
	margin-right: var(--spacing-1);
}

strong{
	font-weight: 600;
}

em{
	font-style: italic;
}

a{
	text-decoration: underline;
}

.Why{
	font-family: var(--heading-font);
	font-style: italic;
	font-size: var(--large-size);
	font-weight: 500;
	text-align: left;
	padding-left: var(--spacing-1);
	color: var(--white-color);
}

.circle_animation{
	white-space: nowrap;
	overflow: hidden;
	position: relative; 
}

.animation {
	white-space: nowrap;
	overflow: hidden;
	position: relative; 
}

.circle_animation > span{
	font-family: var(--heading-font);
	font-size: var(--medium-size);
	font-weight: 200;
	margin-top: var(--spacing-2);
	display: inline-block;
	animation: marquee 30s linear 0s infinite; 
	color: var(--red-color);
}

.animation h3{
	display: inline-block;
	animation: marquee 10s linear 0s infinite; 
}

@keyframes marquee{
    from {
        transform: translateX(0%); 
    }
    to {
        transform: translateX(-50%);
    }
}

.nav{
	display: flex;
	padding: var(--spacing-1);
	justify-content: center;
	align-items: center;
	position: fixed;
  	bottom: 0;
 	width: 100%;
	background-color: var(--background-color);
	z-index: 10;
}

.nav span{
	font-family: var(--heading-font);
	font-size: var(--mini-size);
	border: 1px solid var(--black-color);
	border-radius: 40px;
	padding: var(--spacing-0) var(--spacing-1);
	margin-left: var(--spacing-0);
	background-color: var(--white-color);
}

.nav a{
	text-decoration: none;
}

/* .nav span:hover{
	background-color: var(--grey-color);
	color: var(--black-color);
} */

.nav > a:first-child > span {
	margin-left:0px;
}

.sticky{
	position: sticky;
	top: 0px;
	background-color: var(--background-color);
}

.circular-text{
	display: none;
}

/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */


@media (min-width: 744px) {

h1{
	font-size: var(--superbig-size);
	padding: var(--spacing-2) 0px var(--spacing-2) var(--spacing-0);
	max-width: 70%;
}

h4{
	display: inline;
	font-family: var(--context-font);
	font-size: var(--small-size);
	padding: var(--spacing-3) var(--spacing-5);
	font-weight: 300;
}

header{
	margin-left: 0px;
	margin-right: 0px;
	padding: var(--spacing-5);
	padding-top: var(--spacing-1);
} 

blockquote{
	margin: var(--spacing-3) 0px;
}

p, blockquote {
	max-width: 800px;
}

aside {
	/* line-height: 0%; */
	max-width: 25%;
	margin-top: var(--spacing-2);
	padding-left: var(--spacing-1);
}

article{
	margin-left: var(--spacing-5);
	margin-right: var(--spacing-5);
}

.theme_animation{
margin-top: var(--spacing-1);
}

.nav{
	display: flex;
	position: relative;
	padding: var(--spacing-1) var(--spacing-5);
	justify-content: left;
	align-items: center;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.circle_animation{
	display: none;
}

.bigger_blockquote{
	width: 100%;
}

svg {
  width: 800px;
  height: 800px;
}

text {
	font-family: var(--heading-font);
	font-size: 20px;
	fill: var(--red-color);
	transform-origin: center;
	animation: rotateText 25s linear infinite; 
}

.circular-text{
	display: block;
	position: absolute;
	width: 900px;
	height: 900px;
	z-index: -1;
	transform: translateX(1000px) translateY(150px);
	overflow: hidden ;
}

  @keyframes rotateText {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.grid_article{
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: var(--spacing-3);
}

.left_article{
	grid-column: 1;
}

.right_article{
	grid-column: 2;
}

}