@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

/* mobile media query */
/* mobile media query */
/* mobile media query */
/* mobile media query */
/* mobile media query */

/* variables */
:root{

	--heading-font: "Merriweather", serif;
	--context-font: "Merriweather Sans", sans-serif;

	/* font size */
	--mini-size:16px;
	--small-size:18px;
	--semi-medium:20px;
	--medium-size:28px;
	--semi-large-size:32px;
	--large-size:48px;
	--big-size:60px;
	--superbig-size:80px;

	/* spacing */
	--spacing-0: 8px;
	--spacing-1: 16px;
	--spacing-2: 32px; 
	--spacing-3: 48px;
	--spacing-4: 64px;
	--spacing-5: 80px;
	--spacing-6: 96px;
	--spacing-7: 112px;
	--spacing-8: 128px;
	--spacing-9: 144px;

	/* color */
	--background-color: #f1f1f1;
	--black-color: #1D1D1D;
	--white-color: #FFFFFF;
	--grey-color: #D9D9D9;
	--red-color: #F65139;
	--green-color: #067F34;
	--blue-color: #306DEA;
	--orange-color: #F38C48;
}

html{
	scroll-behavior: smooth;
}

h1{
	font-family: var(--heading-font);
	font-size: var(--large-size);
	font-weight: 500;
	font-style: italic;
	padding:  var(--spacing-2) var(--spacing-2) var(--spacing-1) var(--spacing-2) ;
	color: var(--black-color);
}

h2{
	font-family: var(--context-font);
	font-size: var(--small-size);
	font-weight: 300;
	line-height: 120%;
	padding: var(--spacing-0) var(--spacing-2);
}

h3{
	font-family: var(--heading-font);
	font-size: var(--big-size);
	line-height: 120%;
	margin: 0px;
	padding: var(--spacing-1) var(--spacing-2);
	background-color: var(--background-color);
}

h4{
	display: none;
}

header{
	padding-bottom: 0px;
	width: 100%;
}

body{
	background-color: var(--background-color);
	overflow-x: hidden;
	margin-bottom: var(--spacing-5);
}

p{
	font-family: var(--context-font);
	font-size: var(--small-size);
	font-weight: 200;
	line-height: 150%;
	margin: var(--spacing-2) var(--spacing-1);
}

aside {
	border: 1px solid var(--black-color);
	border-radius: 100px;
	background-color: transparent;
	margin: var(--spacing-1) var(--spacing-2);
	padding: 0px var(--spacing-0);
	max-width: 70%;
}

aside p{
	font-size: var(--mini-size);
	margin: var(--spacing-1);
	line-height: 50%;
}

blockquote{
	font-family: var(--context-font);
	line-height: 150%;
	padding: var(--spacing-1) var(--spacing-1);
	margin-bottom: var(--spacing-2);
}

blockquote em{
	font-size: var(--semi-medium);
	font-weight: 500;
}

blockquote p{
	font-size: var(--small-size);
	font-weight: 300;
	text-align: left;
	margin-right: var(--spacing-1);
}

blockquote h2{
	font-family: var(--heading-font);
	font-style: italic;
	font-size: var(--large-size);
	font-weight: 500;
	text-align: center;
	padding-left: var(--spacing-1);
	color: var(--white-color);
}

strong{
	font-weight: 600;
}

em{
	font-style: italic;
}

a{
	text-decoration: underline;
}

footer{
	display: none;
}

footer p{
	margin-bottom: 0px;
	margin-top: 0px;
}

.mobile_animation{
	white-space: nowrap;
	overflow: hidden;
	position: relative; 
	z-index: -1;
}

.animation {
	white-space: nowrap;
	overflow: hidden;
	position: relative; 
	z-index: -1;
}

/* top animation on mobile */
.mobile_animation > span{
	font-family: var(--heading-font);
	font-size: var(--medium-size);
	font-weight: 200;
	margin-top: var(--spacing-2);
	margin-bottom: var(--spacing-0);
	display: inline-block;
	animation: marquee 30s linear 0s infinite; 
}

.animation h3{
	display: inline-block;
	animation: marquee 10s linear 0s infinite; 
}

@keyframes marquee{
    from {
        transform: translateX(0%); 
    }
    to {
        transform: translateX(-50%);
    }
}

.nav{
	display: flex;
	padding: var(--spacing-1);
	justify-content: center;
	align-items: center;
	position: fixed;
  	bottom: 0;
 	width: 100%;
	background-color: var(--background-color);
	z-index: 0;
}

.nav span{
	font-family: var(--heading-font);
	font-size: var(--mini-size);
	border: 1px solid var(--black-color);
	border-radius: 40px;
	padding: var(--spacing-0) var(--spacing-1);
	margin-left: var(--spacing-0);
	background-color: var(--white-color);
}

.nav a{
	text-decoration: none;
}

.nav > a:first-child > span {
	margin-left:0px;
}

.sticky{
	position: sticky;
	top: 0px;
	background-color: var(--background-color);
}


.arrow h1{
	font-family: "Instrument Sans", sans-serif;
	font-size: var(--big-size);
	display: inline-block;
	transform: rotate(90deg);
	margin: 0px;
	padding: 0px;
}

.hightlight h2{
	font-weight: 700;
}

/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */


@media (min-width: 744px) {


h1{
	font-size: var(--superbig-size);
	padding: var(--spacing-2) 0px var(--spacing-2) var(--spacing-0);
}

h2{
	padding: var(--spacing-1) var(--spacing-2) var(--spacing-1) var(--spacing-1);
}

h4{
	display: inline;
	font-family: var(--context-font);
	font-size: var(--small-size);
	padding: var(--spacing-3) var(--spacing-5) var(--spacing-2) var(--spacing-5);
	font-weight: 300;
}

header{
	padding-bottom: var(--spacing-2);
	margin-left: 0px;
	margin-right: 0px;
	padding: var(--spacing-5);
	padding-top: var(--spacing-1);
} 

blockquote{
	font-size: var(--superbig-size);
	margin: var(--spacing-3) 0px;
	padding: var(--spacing-4);
	width: 100%;
}

p{
	max-width:800px;
	margin-left: 0px;
}

aside {
	max-width: 25%;
	margin-top: var(--spacing-2);
	margin-left: var(--spacing-1);
}

section{
	max-width: 45vw;
	margin-bottom: var(--spacing-3);
}

article{
	margin-left: var(--spacing-5);
	margin-right: var(--spacing-5);
}

footer{
	margin-left: var(--spacing-5);
	margin-right: var(--spacing-5);
	margin-top: var(--spacing-9);
	display: flex;
	justify-content: space-between;
	align-items: end;
	overflow: hidden;
	position: relative;
}

.theme_animation{
margin-top: var(--spacing-1);
}

.nav{
	display: flex;
	position: relative;
	padding: var(--spacing-1) var(--spacing-5);
	justify-content: left;
	align-items: center;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.mobile_animation{
	display: none;
}

.arrow h1{
	font-size: calc(var(--superbig-size)*1.5);
	padding: 0px;
}

svg {
  width: 800px;
  height: 800px;
}

text {
	font-family: var(--heading-font);
	font-size: var(--small-size);
	transform-origin: center;
	animation: rotateText 25s linear infinite; 
}



  @keyframes rotateText {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.grid_article{
	display: grid;
	grid-template-columns:50% 50%;;
	gap: var(--spacing-2);
	max-width: 100%;
	margin-right: var(--spacing-5);
	
}

.left{
	grid-column: 1;
}

.right{
	grid-column: 2;
}

.align_right{
	display: flex;
	flex-direction: column;
}
.align_right p{
	font-size: calc(var(--semi-medium)*1.2);
	margin-left: auto;
	margin-top: 0px;
}

}