@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

/* mobile media query */
/* mobile media query */
/* mobile media query */
/* mobile media query */
/* mobile media query */

/* variables */
:root{

	--heading-font: "Mulish", sans-serif;
	--context-font:  "Mulish", sans-serif;

	/* font size */
	--mini-size:16px;
	--small-size:18px;
	--medium-size:20px;
	--large-size:40px;
	--big-size:60px;
	--superbig-size:80px;

	/* spacing */
	--spacing-0: 8px;
	--spacing-1: 16px;
	--spacing-2: 32px; 
	--spacing-3: 48px;
	--spacing-4: 64px;
	--spacing-5: 80px;
	--spacing-6: 96px;
	--spacing-7: 112px;
	--spacing-8: 128px;
	--spacing-9: 144px;
}

h1{
	font-family: var(--heading-font);
	font-size: var(--large-size);
	font-weight: 600;
	line-height: 130%;
	padding:  var(--spacing-3) var(--spacing-2) 0px var(--spacing-2) ;

}

h2{
	font-family: var(--heading-font);
	font-size: var(--medium-size);
	font-weight: 400;
	line-height: 130%;
	padding: var(--spacing-2);
}

h3{
	font-family: var(--heading-font);
	font-size: var(--large-size);
	font-weight: 500;
	line-height: 130%;
	text-align: right;
	padding: var(--spacing-2);
}

header{
	background: linear-gradient(to bottom, #fad18f, #fffcfb, #fffcfb, #fffcfb);
	padding-bottom: var(--spacing-2);
	width: 100%;
}

body{
	background-color: #fffcfb;
}

p{
	font-family: var(--context-font);
	font-size: var(--small-size);
	font-weight: 400;
	line-height: 130%;
	padding: 0px var(--spacing-2) var(--spacing-2) var(--spacing-2);
}

aside {
	margin-top: var(--spacing-0);
	justify-content: space-between;
}

aside p{
	font-family: var(--context-font);
	font-size: var(--mini-size);
	font-weight: 400;
	line-height: 0.1%;
}

blockquote{
	font-family: var(--context-font);
	font-size: var(--small-size);
	font-weight: 400;
	line-height: 130%;
	margin: var(--spacing-2);
	margin-top: 0px;
	border-left: 1px solid black;
}

li:first-child{
	padding-top: 0px;
}

li:not(:first-child){
	padding-bottom: 0px;
}

li{
	padding: var(--spacing-1);
}

strong{
	font-weight: 600;
}

em{
	font-style: italic;
}
a{
	text-decoration: underline;
}
a:hover{
	color: #e5bf83;
}

.why{
	font-size: var(--large-size);
	padding-top: 0px;
}

.dark_background_blockquote{
	background-color: #05792F;
	color: white;
	margin: 0px;
	padding: var(--spacing-2) 0px;
	border: 0px;
}

.gradient_backgrond_green{
	background: linear-gradient(to bottom, white, #05792F);
	width: 100%;
	height: 80px;
}

.gradient_backgrond_pink{
	background: linear-gradient(to bottom, white,white, #F4525A);
}

.background_pink{
	background-color: #F4525A;
	width: 100%;
	height: 40px;
}

.theme_animation{
	display: none;
}

/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */
/* desktop media query */


@media (min-width: 744px) {

h1{
	font-size: var(--superbig-size);
}

p, blockquote{
	font-size: var(--medium-size);
	font-weight: 300;
}

h1, p, h2, h3{
	padding-left: var(--spacing-5);
	padding-right: var(--spacing-5);
}

blockquote{
	margin-left: var(--spacing-5);
	margin-right: var(--spacing-5);
}

.dark_background_blockquote{
	background-color: #05792F;
	color: white;
	margin: 0px;
	padding: var(--spacing-2) 0px;
	border: 0px;
	width: 100%;
}

}