@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');


h1{
	width: 100%;
	margin-top: var(--spacing-2);
	margin-bottom: var(--spacing-0);
}

h2 a{
	font-size: var(--medium-size);
}

h3{
	color: var(--orange-color);
}

blockquote{
	background-color: var(--orange-color);
}

blockquote li{
	color: var(--black-color);
}
blockquote em{
	color: var(--white-color);
}

a:hover{
	color: var(--orange-color);
	transition: ease-out 0.3s;
}

aside{
	margin-top: var(--spacing-4);
	margin-bottom: var(--spacing-3);
}

text{
	fill: var(--orange-color);
}

strong{
	color: var(--orange-color);
}

.nav > span{
	background-color: var(--white-color);
	color: var(--orange-color);
	border-color: var(--orange-color);
}

.mobile_animation > span{
	color: var(--orange-color);
}


.highlight h2{
	color: var(--orange-color);
}

.circular-text-1, .circular-text-2{
	display: none;
}

.grid_article h2{
	color: var(--orange-color);
	padding-left: var(--spacing-1);
	padding-right: var(--spacing-1);
	padding-bottom: 0px;
}

.grid_article li::before {
	content: '·'; 
	color: var(--orange-color); 
	font-size: 50px; 
	margin-right: 10px;
	vertical-align: middle;
  }



@media (min-width: 744px) {

	h1{
		width: 100%;
		margin-top: var(--spacing-6);
		margin-bottom: var(--spacing-1);
		font-size: calc(var(--superbig-size)*1.2) ;
	}	

	h1:hover .typing_effect{
		font-family: "Courier Prime", monospace;
		font-style: normal;
		white-space: nowrap;
		overflow: hidden;
		letter-spacing: -5px ;
		width: 0;
		border-right: 2px solid var(--black-color);
		animation: typing 4s steps(17) 1s forwards cursor 1s step-end infinite;
	}
	
	@keyframes typing {
		from { width: 0; }
		to { width: 100%}
	}
	
	@keyframes cursor {
		50% { border-color: transparent;}
	}

	.heading > h3{
		color: var(--orange-color);
	}	

	.mobile_animation{
		display: none;
	}

	.nav a:nth-of-type(1) span:hover {
		color: var(--grey-color);
		border-color: var(--grey-color);
		transition: ease-out 0.3s;
	}
	
	.nav a:nth-of-type(2) span:hover {
		color: var(--red-color);
		border-color: var(--red-color);
		transition: ease-out 0.3s;
	}
	
	.nav a:nth-of-type(3) span:hover {
		color: var(--green-color);
		border-color: var(--green-color);
		transition: ease-out 0.3s;
	}

	.circular-text-1{
		display: block;
		position: absolute;
		width: 900px;
		height: 900px;
		z-index: -1;
		transform: translateX(1000px) translateY(150px);
		overflow: hidden ;
	}
	
	.circular-text-2{
		display: block;
		position: absolute;
		width: 900px;
		height: 400px; 
		z-index: -1;
		transform: translateX(-150px) translateY(-450px) scale(1.4);
		overflow: hidden ;
		clip-path: inset(0 0 40px 0);
	}

	.grid_article h2{
		margin-left: 0px;
	}

	.arrow h1{
		color: var(--orange-color);
	}

	.arrow a{
		text-decoration: none;
	}

	.card{
		width:40vw;
		transform: translateX(45vw) translateY(0vw);
	}
	.card p{
		width: 40vw;
	}
}